{
  "env": {
    "mocha": true
  },
  "plugins": [
    "mocha-only"
  ],
  "globals": {
    "expect": false,
    "sinon": false,
    "fail": false,
    "proxyquire": false
  },
  "rules": {
    //plugins config
    "mocha-only/mocha-only": 0
  }
}
